.top {
  text-align: center; 
  background-color: #D3D3D3;
  margin: 2rem; 
  display: block;
  border: 2px solid black;  
}


h3 {
  text-align: center;
}

.summary {
  border: 2px solid black;
  text-align: center; 
  background-color: #D3D3D3;
  margin: 2rem;
}

.work {
  border: 2px solid black;
  background-color: #D3D3D3;
  margin: 2rem;
  display: block;
  text-align: center;
}
.work > ul {
  display: block;
}

.experience {
  display: block; 
  text-align: center;
}
.experience > ul {
  display: inline-block;
  text-align: left; 
}

.personal {
  border: 2px solid black;
  text-align: center; 
  background-color: #D3D3D3;
  margin: 2rem;
}

.skills {
  border: 2px solid black;
  text-align: center; 
  background-color: #D3D3D3;
  margin: 2rem;
}

.education {
  border: 2px solid black;
  text-align: center; 
  background-color: #D3D3D3;
  margin: 2rem;
}


#email {
  color: blue;
}

#profile {
  height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
} 
