.top {
  text-align: center; 
  background-color: #D3D3D3;
  margin: 2rem; 
  display: block;
  border: 2px solid black;  
}


h3 {
  text-align: center;
}

.summary {
  border: 2px solid black;
  text-align: center; 
  background-color: #D3D3D3;
  margin: 2rem;
}

.work {
  border: 2px solid black;
  background-color: #D3D3D3;
  margin: 2rem;
  display: block;
  text-align: center;
}
.work > ul {
  display: inline-block;
}

.personal {
  border: 2px solid black;
  text-align: center; 
  background-color: #D3D3D3;
  margin: 2rem;
}

.skills {
  border: 2px solid black;
  text-align: center; 
  background-color: #D3D3D3;
  margin: 2rem;
}

.education {
  border: 2px solid black;
  text-align: center; 
  background-color: #D3D3D3;
  margin: 2rem;
}


#email {
  color: blue;
}

.experience {
  text-align: center;
}
.experience > ul {
  display: inline-block;
}
