.header {
  border: 2px solid black;
  text-align: center; 
}

.top {
  background-color: #D3D3D3;
  margin: 2rem; 
}

li {
  right: 40px;
}

h3 {
  text-align: center;
}

.summary {
  border: 2px solid black;
  text-align: center; 
  background-color: #D3D3D3;
  margin: 2rem;
}

.work {
  border: 2px solid black;
  text-align: center; 
  background-color: #D3D3D3;
  margin: 2rem;
}

.personal {
  border: 2px solid black;
  text-align: center; 
  background-color: #D3D3D3;
  margin: 2rem;
}

.skills {
  border: 2px solid black;
  text-align: center; 
  background-color: #D3D3D3;
  margin: 2rem;
}

.education {
  border: 2px solid black;
  text-align: center; 
  background-color: #D3D3D3;
  margin: 2rem;
}


#email {
  color: blue;
}

ul{
  display:inline-block;
  text-align:left;
}
